<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Progetto di Tecnologie Informatiche per il Web</display-name>
	<context-param>
    	<param-name>dbUrl</param-name>
    	<param-value>jdbc:mysql://localhost:3306/db_project</param-value>
  	</context-param>
  	<context-param>
    	<param-name>dbUser</param-name>
    	<param-value>admin</param-value>
  	</context-param>
  	<context-param>
    	<param-name>dbPassword</param-name>
    	<param-value>admin</param-value>
  	</context-param>
  	<context-param>
    	<param-name>dbDriver</param-name>
    	<param-value>com.mysql.cj.jdbc.Driver</param-value>
  	</context-param>
  	<filter>
  		<filter-name>Checker</filter-name>
  			<filter-class>it.polimi.tiw.project.filters.Checker</filter-class>
  	</filter>
  	<filter>
  		<filter-name>ManagerChecker</filter-name>
  			<filter-class>it.polimi.tiw.project.filters.ManagerChecker</filter-class>
  	</filter>
  	<filter>
  		<filter-name>WorkerChecker</filter-name>
  			<filter-class>it.polimi.tiw.project.filters.WorkerChecker</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>Checker</filter-name>
  		<url-pattern>/AddAnnotation</url-pattern>
  		<url-pattern>/ChangePersonalInfo</url-pattern>
  		<url-pattern>/CloseCampaign</url-pattern>
  		<url-pattern>/CreateCampaign</url-pattern>
  		<url-pattern>/CreateStats</url-pattern>
  		<url-pattern>/GoToCampaignDetailsPage</url-pattern>
  		<url-pattern>/GoToHomeManager</url-pattern>
  		<url-pattern>/GoToHomeWorker</url-pattern>
  		<url-pattern>/GoToImageDetailsPage</url-pattern>
  		<url-pattern>/Logout</url-pattern>
  		<url-pattern>/StartCampaign</url-pattern>
  		<url-pattern>/SubmitCampaign</url-pattern>
  		<url-pattern>/UploadImage</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
  		<filter-name>ManagerChecker</filter-name>
  		<url-pattern>/CloseCampaign</url-pattern>
  		<url-pattern>/CreateCampaign</url-pattern>
  		<url-pattern>/CreateStats</url-pattern>
  		<url-pattern>/GoToHomeManager</url-pattern>
  		<url-pattern>/StartCampaign</url-pattern>
  		<url-pattern>/UploadImage</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
  		<filter-name>WorkerChecker</filter-name>
  		<url-pattern>/AddAnnotation</url-pattern>
  		<url-pattern>/GoToHomeWorker</url-pattern>
  		<url-pattern>/SubmitCampaign</url-pattern>
  	</filter-mapping>
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>