<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Worker Home Page</title>
</head>
<body>
	<div align="left">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right">
		<a href="/Progetto_TIW/ChangeInfo.html">Change personal Info</a>
	</div>
	<h1>Welcome Back to Your Home Page</h1>
	
	<h1>These are Your Campaigns</h1>
	<table border = "1">
		<thead>
			<tr>
				<th> Id  </th>
				<th> Name </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${submittedCampaigns}" th:class="(${c.id} == ${id})? 'current'">
				<td th:text="${c.id}"></td>
				<td><a th:href="@{/GoToCampaignDetailsPage(id=${c.id})}">
					<span th:text="${c.name}"></span></a></td>
			</tr>
		</tbody>
	</table>
	<h1>You can Join these campaigns</h1>
	<table border = "1">
		<thead>
		<tr>
			<th> Id  </th>
			<th> Name </th>
		</tr>
		</thead>
		<tbody>
		<tr th:each = "c : ${availableCampaigns}" th:class="(${c.id} == ${id})? 'current'">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td> <form th:action = "@{SubmitCampaign(id=${c.id})}" method = "POST"><input type = "submit" name= "submitCammpaigns" value = "Submit"></input></form></td>
		</tr>
		</tbody>
	</table>
</body>
</html>